<a class="navbar-brand" href="/">
    <img src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="logo" />
Naumen Test
</a>
<div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="show" class="nav-link <% if (active == 'show') { %> active<% } %>" href="/#service-note">Notes</a>
        </li>
        <li class="nav-item">
            <a id="add" class="nav-link <% if (active == 'add') { %> active<% } %>" href="/#service-note/add">Add notes</a>
        </li>
    </ul>
</div>