<div class="col-sm-12">
    <div class="top-panel">
        <div style="height:100%; margin-bottom: 10px;">
            <button style="padding: 0.6rem 0.75rem;" class="btn search btn-success">Search</button>
            <input id="search" type="text" class="form-control form-control-lg" placeholder="Input name or content">
        </div>
        <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>
            </th>
            <th>Note ID</th>
            <th>Note name</th>
            <th>Note content</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <p id="count">Note count: <%- count %></p>
</div>